Authlib~=1.6.6
blinker~=1.9.0
certifi~=2025.11.12
cffi~=2.0.0
charset-normalizer~=3.4.4
click~=8.3.1
cryptography~=46.0.3
dnspython~=2.8.0
dulwich~=0.24.10
email-validator~=2.3.0
Flask~=3.1.2
flask-cors~=6.0.1
Flask-HTTPAuth~=4.8.0
Flask-Login~=0.6.3
Flask-WTF~=1.2.2
github-webhook~=1.0.4
idna~=3.11
itsdangerous~=2.2.0
Jinja2~=3.1.6
libpass~=1.9.3
MarkupSafe~=3.0.3
pycparser~=2.23
pyparsing~=3.2.5
rdflib~=7.5.0
requests~=2.32.5
six~=1.17.0
tinydb~=4.8.2
tinyrecord~=0.2.0
urllib3~=2.6.2
Werkzeug~=3.1.4
WTForms~=3.2.1
