{% extends "base.html" %}
{% block title %}Terms of use{% endblock %}
{% block main %}
  <p>The RDA Metadata Standards Catalog ('the Catalog', 'the system') is hosted by the University of Bath. The Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations set out the standards that public sector bodies, including UK universities, must reach. The following accessibility statement sets out how the Catalog meets these obligations.</p>

  <h2 id="wcag">Web Content Accessibility Guidelines (WCAG) explained</h2>
  <p>To make sure that the Catalog is accessible, we follow the World Wide Web Consortiums (W3C) Web Content Accessibility Guidelines (WCAG) version 2.1.</p>
  <p>WCAG is a universally accepted standard for measuring the accessibility of a website or app. It uses a scale A, AA and AAA to rate the accessibility of content.</p>
  <p>The Research Data Alliance Metadata Standards Catalog Working Group ('the Working Group') is committed to making sure, where possible, that its content meets AA compliance. AA compliance means people who have a disability should be able to access the majority of our content easily.</p>
  <h3>How we meet WCAG standards</h3>
  <p>To make sure that our website is compliant with accessibility standards, our templates</p>
  <ul>
    <li>use valid HTML and CSS;</li>
    <li>let users change aspects of the site's appearance to improve their own experience;</li>
    <li>are easy to navigate no matter the input device or method;</li>
    <li>have a logical content structure and a clear information hierarchy;</li>
    <li>have layouts that adapt to different screen sizes without loss of functionality or usability;</li>
    <li>provide sufficient colour contrast between background and foreground items.</li>
  </ul>
  <p>The majority of our content meets WCAG 2.1 AA guidelines.</p>

  <h2 id="out-of-scope">Content that is outside the scope of the regulations</h2>
  <p>The following content is exempt from the <a href="http://www.legislation.gov.uk/uksi/2018/952/regulation/4/made">The Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018</a>.</p>
  <h3>Third party content</h3>
  <p>Many records in the Catalog, and the Catalog's authentication system, include links to content hosted on external websites that are not owned, paid for, or developed by the Working Group, the Research Data Alliance, or the University of Bath. This content may not be accessible.</p>
  <p>The textual content of the records in the Catalog is contributed voluntarily by members of the Research Data Alliance and other interested parties. The Working Group provides a degree of editorial oversight but there may be a delay in reviewing new contributions for accessibility.</p>

  <h2 id="alternative-formats">Request an alternative format</h2>
  <p>If you cannot access any information available in the Catalog and would like to request an alternative format, for example, an accessible PDF, large print document, easy read version, audio recording or braille copy, please <a href="mailto:mscwg@rda-groups.org">email the Working Group mailing list</a>. Volunteers from the Working Group will try to provide you with an alternative version; however, there may be situations where this is not possible.</p>

  <h2 id="reporting-an-issue">Reporting an accessibility issue with the Catalog</h2>
  <p>If you find an accessibility problem, please <a href="mailto:mscwg@rda-groups.org">email the Working Group mailing list</a>.

  <h2 id="escalating-an-issue">Escalating an accessibility issue with the Catalog</h2>
  <p>The Equality and Human Rights Commission (EHRC) is responsible for making sure organisations meet the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018. If you are unhappy with our response, please <a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a> for further advice.</p>
{% endblock %}
