<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  {% block head %}
  <title>{% block title %}{% endblock %}{% if self.title() %} – {% endif %}Metadata Standards Catalog</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/msc.min.css') }}" />
  <script src="https://kit.fontawesome.com/3a0c141ff6.js" crossorigin="anonymous"></script>
  {% endblock %}
</head>
<body>
  <header class="navbar navbar-dark bg-primary navbar-expand-md">
    <nav class="container">
      <a class="navbar-brand" href="{{ url_for('hello') }}">Metadata Standards Catalog</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="{{ url_for('search.scheme_search') }}">Search</a></li>
          {% if current_user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.edit_profile') }}">My profile</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Sign out</a></li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Sign in</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  {% if maintenance_start %}
  <aside class="alert alert-warning alert-dismissible fade show" role="alert">
    {% if maintenance_ongoing %}{% if maintenance_end %}
    The Metadata Standards Catalog is undergoing scheduled maintenance {{ maintenance_end }} UTC.
    {% else %}
    The Metadata Standards Catalog is currently undergoing scheduled maintenance.
    {% endif %}{% else %}
    The Metadata Standards Catalog will be unavailable {{ maintenance_start }}{% if maintenance_end %} {{ maintenance_end }}{% endif %} UTC due to scheduled maintenance.
    {% endif %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </aside>
  {% endif %}
  <main class="container">
  <h1 tabindex="-1">{% if self.title() %}{{ self.title() }}{% else %}Metadata Standards Catalog{% endif %}</h1>
  {% with messages = get_flashed_messages(with_categories=True, category_filter=['error', 'message', 'success', 'warning']) %}
  {% for category, message in messages %}
  <div class="alert alert-{% if category == 'error' %}danger{% elif category == 'success' %}success{% elif category == 'warning' %}warning{% else %}info{% endif %} alert-dismissible fade show" role="alert">
    <p class="mb-0">{{ message|safe }}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endwith %}
  {% block main %}{% endblock %}
  </main>
  <footer class="navbar navbar-expand-sm justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="https://github.com/rd-alliance/metadata-catalog-v2"><span class="fab fa-github"></span>&ensp;github</a></li>
      <li class="nav-item"><a class="nav-link" href="https://twitter.com/resdatall"><span class="fab fa-twitter"></span>&ensp;twitter</a></li>
      <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/researchdataalliance"><span class="fab fa-linkedin"></span>&ensp;linkedin</a></li>
      <li class="nav-item"><a class="nav-link" href="http://www.slideshare.net/ResearchDataAlliance"><span class="fab fa-slideshare"></span>&ensp;slideshare</a></li>
    </ul>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/forms.js') }}"></script>
</body>
</html>
