{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block main %}
{% if tree %}
  <ul class="nav nav-group">
{% for item in tree recursive %}
{{ '    ' * loop.depth }}<li class="nav-item">
{{ '    ' * loop.depth }}  <a class="nav-link" href="{{ item['url'] }}">{{ item['name'] }}</a>
{% if item['children'] %}
{{ '    ' * loop.depth }}  <ul class="nav nav-group">
{{ loop(item['children']) -}}
{{ '    ' * loop.depth }}  </ul>
{% endif %}
{{ '    ' * loop.depth }}</li>
{% endfor %}
  </ul>
{% else %}
  <p>There are no records to display here yet.</p>
  <p>If you know of any that should be listed, please {% if current_user.is_authenticated %}add {% else %}consider <a href="{{ url_for('auth.login') }}">signing in</a> and adding {% endif %}them to the database.</p>
{% endif %}
{% endblock %}
