{% extends "base.html" %}
{% block title %}{{ record['title'] }}{% endblock %}
{% block main %}
  {% if 'description' in record %}
  <div class="description">{{ record['description']|safe }}</div>
  {% endif %}
  {% if 'keywords' in record %}
  <div class="keywords clearfix">
    <p class="col-sm-2">Used in</p>
    <ul class="col-sm-10 list-inline">
    {% for keyword in record['keywords'] %}
      <li><a class="btn btn-special" href="{{ url_for('search.subject', subject=keyword) }}">{{ keyword }}</a></li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if 'dataTypes' in record %}
  <div class="dataTypes clearfix">
    <p class="col-sm-2">Used for</p>
    <ul class="col-sm-10 list-inline">
    {% for type in record['dataTypes'] %}
      {% if 'label' in type %}
      <li><a class="btn btn-special" href="{{ url_for('dataType', dataType=toURLSlug(type['label'])) }}">{{ type['label'] }}</a></li>
      {% else %}
      <li><a class="btn btn-special" href="{{ url_for('dataType', dataType=toURLSlug(type['id'])) }}">{{ abbrevURL(type['id']) }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if 'locations' in record %}
  <div class="locations">
    <h2>Documentation</h2>
    <ul class="locations list-inline">
    {% for location in record['locations'] %}
      {% if location['type'] == 'website' %}
      <li><a class="btn btn-special" href="{{ location['url'] }}">Visit website</a></li>
      {% elif location['type'] == 'document' %}
      <li><a class="btn btn-special" href="{{ location['url'] }}">View specification</a></li>
      {% else %}
      <li><a class="btn btn-special" href="{{ location['url'] }}">View specification in {{ location['type'] }} format</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if 'maintainers' in relations or 'funders' in relations %}
  <div class="organizations">
    <h2>Responsible organizations</h2>
    <ul>
    {% for org in relations['maintainers'] %}
      <li>
        <p>Maintainer: <a href="{{ url_for('main.display', table='g', number=org.doc_id) }}">{{ org.name }}</a></p>
      {% if 'locations' in org %}
        <ul class="locations list-inline">
        {% for location in org['locations'] %}
          <li><a class="btn btn-special" href="{{ location['url'] }}">{% if location['type'] == 'website' %}View website{% elif location['type'] == 'email' %}Send email{% else %}More information{% endif %}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
      </li>
    {% endfor %}
    {% for org in relations['funders'] %}
      <li>
        <p>Funder: <a href="{{ url_for('main.display', table='g', number=org.doc_id) }}">{{ org.name }}</a></p>
      {% if 'locations' in org %}
        <ul class="locations list-inline">
        {% for location in org['locations'] %}
          <li><a class="btn btn-special" href="{{ location['url'] }}">{% if location['type'] == 'website' %}View website{% elif location['type'] == 'email' %}Send email{% else %}More information{% endif %}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if 'samples' in record %}
  <div class="samples">
    <h2>Samples</h2>
    <ul>{% for sample in record['samples'] %}
      <li><a href="{{ sample['url'] }}">{{ sample['title'] }}</a></li>
    {% endfor %}</ul>
  </div>
  {% endif %}
  <div class="identifiers">
    <h2>Identifiers</h2>
    <dl class="dl-horizontal">
      <dt>Internal MSC ID</dt><dd><a href="{{ url_for('main.display', table='m', number=record.doc_id) }}">msc:m{{ record.doc_id }}</a></dd>
    {% for identifier in record['identifiers'] %}
      {% if identifier['scheme'] == 'DOI' %}
      <dt>DOI</dt><dd><a href="https://doi.org/{{ identifier['id'] }}">{{ identifier['id'] }}</a></dd>
      {% elif identifier['scheme'] %}
      <dt>{{ identifier['scheme'] }}</dt><dd>{{ identifier['id'] }}</dd>
      {% else %}
      <dt>Other identifier</dt><dd>{{ identifier['id'] }}</dd>
      {% endif %}
    {% endfor %}
    </dl>
  </div>
  {% if versions %}
  <div class="versions">
    <h2>Version history</h2>
    <dl class="dl-horizontal">
    {% for version in versions %}
      <dt id="v{{ version['number'] }}">{{ version['date'] }}</dt>
      <dd>
        <p>{% if 'number' in version %}version {{ version['number'] }}{% else %}(unnumbered version){% endif %}{% if version['status'] %} ({{ version['status'] }}){% endif %}
          {% if 'title' in version %} &ndash; {{ version['title'] }}{% endif %}</p>
        {% if 'description' in version %}
        <div class="description">{{ version['description']|safe }}</div>
        {% endif %}
        {% for identifier in version['identifiers'] %}
          <p>
          {% if identifier['scheme'] == 'DOI' %}
          <strong>DOI</strong>&emsp;<a href="https://doi.org/{{ identifier['id'] }}">{{ identifier['id'] }}</a>
          {% elif identifier['scheme'] %}
          <strong>{{ identifier['scheme'] }}</strong>&emsp;{{ identifier['id'] }}
          {% else %}
          <strong>Identifier</strong>&emsp;{{ identifier['id'] }}
          {% endif %}
          </p>
        {% endfor %}
        {% if 'locations' in version or current_user.is_authenticated %}
        <ul class="locations list-inline">
        {% for location in version['locations'] %}
          {% if location['type'] == 'website' %}
          <li><a class="btn btn-sm btn-special" href="{{ location['url'] }}">Visit website</a></li>
          {% elif location['type'] == 'document' %}
          <li><a class="btn btn-sm btn-special" href="{{ location['url'] }}">View specification</a></li>
          {% else %}
          <li><a class="btn btn-sm btn-special" href="{{ location['url'] }}">View specification in {{ location['type'] }} format</a></li>
          {% endif %}
        {% endfor %}
        {% if current_user.is_authenticated %}
          <li><a class="btn btn-warning" href="{{ url_for('main.edit_version', table='m', number=record.doc_id, index=version['index']) }}">Edit version</a></li>
        {% endif %}
        </ul>
        {% endif %}
      </dd>
    {% endfor %}
    </dl>
  </div>
  {% endif %}
  {% if hasRelatedSchemes %}
  <div class="related_schemes">
    <h2>Relationships to other metadata standards</h2>
    <ul>
    {% for parent in relations['parent_schemes'] %}
      <li><p>This scheme is a profile of <a href="{{ url_for('main.display', table='m', number=parent.doc_id) }}">{{ parent['title'] }}</a>.</p></li>
    {% endfor %}
    {% for child in relations['child_schemes'] %}
      <li><p><a href="{{ url_for('main.display', table='m', number=child.doc_id) }}">{{ child['title'] }}</a> is a profile of this scheme.</p></li>
    {% endfor %}
    {% for mapping in relations['input_to_mappings'] %}
      <li class="mappings">
        <p>This scheme can be mapped to {% for scheme in mapping['output_schemes'] %}{% if loop.index > 1 %}{% if loop.last %} and {% else %}, {% endif %}{% endif %}<a href="{{ url_for('main.display', table='m', number=scheme.doc_id) }}">{{ scheme['title'] }}</a>{% endfor %}.</p>
        {% if 'description' in mapping %}
        <div class="description">{{ mapping['description']|safe }}</div>
        {% endif %}
        {% if 'locations' in mapping or current_user.is_authenticated %}
        <ul class="locations list-inline">
        {% for location in mapping['locations'] %}
          <li><a class="btn btn-special" href="{{ location['url'] }}">{% if location['type'] == 'document' %}View documentation{% else %}Download {{ location['type'] }}{% endif %}</a></li>
        {% endfor %}
        {% if current_user.is_authenticated %}
          <li><a class="btn btn-default" href="{{ url_for('main.edit_record', table='c', number=mapping.doc_id) }}">Edit record</a></li>
        {% endif %}
        </ul>
        {% endif %}
    {% endfor %}
    {% for mapping in relations['output_from_mappings'] %}
      <li class="mappings">
        <p>This scheme can be generated from {% for scheme in mapping['input_schemes'] %}{% if loop.index > 1 %}{% if loop.last %} and {% else %}, {% endif %}{% endif %}<a href="{{ url_for('main.display', table='m', number=scheme.doc_id) }}">{{ scheme['title'] }}</a>{% endfor %}.</p>
        {% if 'description' in mapping %}
        <div class="description">{{ mapping['description']|safe }}</div>
        {% endif %}
        {% if 'locations' in mapping %}
        <ul class="locations list-inline">
        {% for location in mapping['locations'] %}
          <li><a class="btn btn-special" href="{{ location['url'] }}">{% if location['type'] == 'document' %}View documentation{% else %}Download {{ location['type'] }}{% endif %}</a></li>
        {% endfor %}
        {% if current_user.is_authenticated %}
          <li><a class="btn btn-default" href="{{ url_for('main.edit_record', table='c', number=mapping.doc_id) }}">Edit record</a></li>
        {% endif %}
        </ul>
        {% endif %}
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if 'tools' in relations %}
  <div class="tools">
    <h2>Tools</h2>
    <ul>
    {% for tool in relations['tools'] %}
      <li>
        <p><a href="{{ url_for('main.display', table='t', number=tool.doc_id) }}">{{ tool['title'] }}</a></p>
        {% if 'description' in tool %}
        <div class="description">{{ tool['description']|safe }}</div>
        {% endif %}
        {% if 'locations' in tool %}
        <ul class="locations list-inline">
        {% for location in tool['locations'] %}
          {% if location['type'] == 'website' %}
          <li><a class="btn btn-special" href="{{ location['url'] }}">Visit website</a></li>
          {% elif location['type'] == 'document' %}
          <li><a class="btn btn-special" href="{{ location['url'] }}">View documentation</a></li>
          {% elif location['type'] == 'application' %}
          <li><a class="btn btn-special" href="{{ location['url'] }}">Use tool online</a></li>
          {% elif location['type'] == 'service' %}
          <li><a class="btn btn-special" href="{{ location['url'] }}">Service endpoint</a></li>
          {% endif %}
        {% endfor %}
        </ul>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if 'users' in relations %}
  <div class="users">
    <h2>Known users</h2>
    <ul>
    {% for user in relations['users'] %}
      <li>
        <p><a href="{{ url_for('main.display', table='g', number=user.doc_id) }}">{{ user.name }}</a></p>
        {% if 'description' in user %}
        <div class="description">{{ user['description']|safe }}</div>
        {% endif %}
        {% if 'locations' in user %}
        <ul class="locations list-inline">
        {% for location in user['locations'] %}
          <li><a class="btn btn-special" href="{{ location['url'] }}">{% if location['type'] == 'website' %}View website{% elif location['type'] == 'email' %}Send email{% else %}More information{% endif %}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if 'endorsements' in relations %}
  <div class="endorsements">
    <h2>Endorsements of this scheme</h2>
    <ul>
    {% for endorsement in relations['endorsements'] %}
      <li>
        <p>Endorsed {% if 'valid' in endorsement -%}
            {%- if 'end' in endorsement['valid'] -%}
              between {{ endorsement['valid']['start'] }} and {{ endorsement['valid']['end'] }}
            {%- else -%}
              since {{ endorsement['valid']['start'] }}
            {%- endif -%}
          {%- elif 'issued' in endorsement -%}
            {%- if hasDay(endorsement['issued']) -%}
              on
            {%- else -%}
              in
            {%- endif %} {{ endorsement['issued'] }}
          {%- endif -%}
          {%- if 'originators' in endorsement %} by {% for r in endorsement['originators'] %}{% if loop.index > 1 %}{% if loop.last %} and {% else %}, {% endif %}{% endif %}<a href="{{ url_for('main.display', table='g', number=r.doc_id) }}">{{ r.name }}</a>{% endfor %}{% endif -%}.</p>
        <p>{% for creator in endorsement['creators'] %}{% if loop.index > 1 %}{% if loop.last %} and {% else %}, {% endif %}{% endif %}{%if 'fullName' in creator %}{{ creator['fullName'] }}{% else %}{{ creator.get('givenName') }} {{ creator.get('familyName') }}{% endif %}{% endfor %}.
          {% if 'title' in endorsement %}<a href="{{ url_for('main.display', table='e', number=endorsement.doc_id) }}">{{ endorsement['title'] }}</a>.{% endif %}
          {% if 'publication' in endorsement %} {{ endorsement['publication']|safe }}.{% endif %}
          {% for identifier in endorsement.get('identifiers') %}{% if identifier['scheme'] == 'DOI' %} DOI: <a href="https://doi.org/{{ identifier['id'] }}">{{ identifier['id'] }}</a>.{% endif %}{% endfor %}</p>
        {% if 'description' in endorsement %}
        <div class="description">{{ endorsement['description']|safe }}</div>
        {% endif %}
        {% if 'locations' in endorsement or current_user.is_authenticated %}
        <ul class="locations list-inline">
        {% for location in endorsement['locations'] %}
          <li><a class="btn btn-special" href="{{ location['url'] }}">View endorsement</a></li>
        {% endfor %}
        {% if current_user.is_authenticated %}
          <li><a class="btn btn-default" href="{{ url_for('main.edit_record', table='e', number=endorsement.doc_id) }}">Edit record</a></li>
        {% endif %}
        </ul>
        {% endif %}
      </li>
    {% endfor %}</ul>
  </div>
  {% endif %}
  {% if current_user.is_authenticated %}
  <aside>
    <div class="form-group">
      <a href="{{ url_for('main.edit_record', table='m', number=record.doc_id) }}" class="btn btn-default">Edit this record</a>
      {% if versions %}
      <a href="{{ url_for('main.edit_version', table='m', number=record.doc_id) }}" class="btn btn-default">Add another version</a>
      {% else %}
      <a href="{{ url_for('main.edit_version', table='m', number=record.doc_id) }}" class="btn btn-default">Add version information</a>
      {% endif %}
    </div>
  </aside>
  {% endif %}
{% endblock %}
