{% extends "base.html" %}
{% block title %}{{ record.name }}{% endblock %}
{% block main %}
  {% if 'description' in record %}
  <div class="description">{{ record['description']|safe }}</div>
  {% endif %}
  {% if 'input_schemes' in relations and 'output_schemes' in relations %}
  <div class="related_schemes">
    <h2>Supported metadata standards</h2>
    <p>This mapping can be used to convert records in the following metadata schemes&hellip;</p>
    <ul>
    {% for scheme in relations['input_schemes'] %}
      <li><a href="{{ url_for('main.display', table='m', number=scheme.doc_id) }}">{{ scheme['title'] }}</a></li>
    {% endfor %}
    </ul>
    <p>&hellip;into records that comply with the following metadata schemes:</p>
    <ul>
    {% for scheme in relations['output_schemes'] %}
      <li><a href="{{ url_for('main.display', table='m', number=scheme.doc_id) }}">{{ scheme['title'] }}</a></li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if 'locations' in record %}
  <div class="locations">
    <h2>Links and documentation</h2>
    <ul class="locations list-inline">
    {% for location in record['locations'] %}
      {% if location['type'] == 'document' %}
      <li class="list-inline-item"><a class="btn btn-location" href="{{ location['url'] }}">View documentation</a></li>
      {% elif location['type'] == 'application' %}
      <li class="list-inline-item"><a class="btn btn-location" href="{{ location['url'] }}">Use converter online</a></li>
      {% elif location['type'] == 'service' %}
      <li class="list-inline-item"><a class="btn btn-location" href="{{ location['url'] }}">Service endpoint</a></li>
      {% else %}
      <li class="list-inline-item"><a class="btn btn-location" href="{{ location['url'] }}">Download {{ location['type'] }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if 'maintainers' in relations or 'funders' in relations or 'creators' in record %}
  <div class="organizations">
    <h2>Responsible people and organizations</h2>
    <ul>
    {% for creator in record['creators'] %}
      <li>
        <p>Creator: {% if 'fullName' in creator %}{{ creator['fullName'] }}{% else %}{{ creator['givenName'] }} {{ creator['familyName'] }}{% endif %}</p>
      </li>
    {% endfor %}
    {% for org in relations['maintainers'] %}
      <li>
        <p>Maintainer: <a href="{{ url_for('main.display', table='g', number=org.doc_id) }}">{{ org.name }}</a></p>
      {% if 'locations' in org %}
        <ul class="locations list-inline">
        {% for location in org['locations'] %}
          <li class="list-inline-item"><a class="btn btn-location" href="{{ location['url'] }}">{% if location['type'] == 'website' %}View website{% elif location['type'] == 'email' %}Send email{% else %}More information{% endif %}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
      </li>
    {% endfor %}
    {% for org in relations['funders'] %}
      <li>
        <p>Funder: <a href="{{ url_for('main.display', table='g', number=org.doc_id) }}">{{ org.name }}</a></p>
      {% if 'locations' in org %}
        <ul class="locations list-inline">
        {% for location in org['locations'] %}
          <li class="list-inline-item"><a class="btn btn-location" href="{{ location['url'] }}">{% if location['type'] == 'website' %}View website{% elif location['type'] == 'email' %}Send email{% else %}More information{% endif %}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div class="identifiers">
    <h2>Identifiers</h2>
    <dl class="row">
      <dt class="col-sm-5 col-md-4 col-lg-3 text-sm-end">Internal MSC ID</dt>
      <dd class="col-sm-7 col-md-8 col-lg-9"><a href="{{ url_for('main.display', table='c', number=record.doc_id) }}">msc:c{{ record.doc_id }}</a></dd>
    {% for identifier in record['identifiers'] %}
      {% if identifier['scheme'] == 'DOI' %}
      <dt class="col-sm-5 col-md-4 col-lg-3 text-sm-end">DOI</dt>
      <dd class="col-sm-7 col-md-8 col-lg-9"><a href="https://doi.org/{{ identifier['id'] }}">{{ identifier['id'] }}</a></dd>
      {% elif identifier['scheme'] %}
      <dt class="col-sm-5 col-md-4 col-lg-3 text-sm-end">{{ identifier['scheme'] }}</dt>
      <dd class="col-sm-7 col-md-8 col-lg-9">{{ identifier['id'] }}</dd>
      {% else %}
      <dt class="col-sm-5 col-md-4 col-lg-3 text-sm-end">Other identifier</dt>
      <dd class="col-sm-7 col-md-8 col-lg-9">{{ identifier['id'] }}</dd>
      {% endif %}
    {% endfor %}
    </dl>
  </div>
  {% if versions %}
  <div class="versions">
    <h2>Version history</h2>
    <dl class="row">
    {% for version in versions %}
      <dt class="col-sm-5 col-md-4 col-lg-3 text-sm-end" id="v{{ version['number'] }}">{{ version['date'] }}</dt>
      <dd class="col-sm-7 col-md-8 col-lg-9">
        <p>{% if 'number' in version %}version {{ version['number'] }}{% else %}(unnumbered version){% endif %}
          {%- if 'title' in version %} &ndash; {{ version['title'] }}{% endif %}</p>
        {% if 'note' in version %}
        <div class="description">{{ version['note']|safe }}</div>
        {% endif %}
        {% if 'identifiers' in version %}
        <dl>
        {% for identifier in version['identifiers'] %}
          <div class="d-flex">
          {% if identifier['scheme'] == 'DOI' %}
          <dt>DOI</dt>
          <dd><a href="https://doi.org/{{ identifier['id'] }}">{{ identifier['id'] }}</a></dd>
          {% elif identifier['scheme'] %}
          <dt>{{ identifier['scheme'] }}</dt>
          <dd>{{ identifier['id'] }}</dd>
          {% else %}
          <dt>Identifier</dt>
          <dd>{{ identifier['id'] }}</dd>
          {% endif %}
          </div>
        {% endfor %}
        </dl>
        {% endif %}
        {% if 'locations' in version or current_user.is_authenticated %}
        <ul class="locations list-inline">
        {% for location in version['locations'] %}
          {% if location['type'] == 'website' %}
          <li class="list-inline-item"><a class="btn btn-sm btn-location" href="{{ location['url'] }}">Visit website</a></li>
          {% elif location['type'] == 'document' %}
          <li class="list-inline-item"><a class="btn btn-sm btn-location" href="{{ location['url'] }}">View documentation</a></li>
          {% elif location['type'] == 'application' %}
          <li class="list-inline-item"><a class="btn btn-sm btn-location" href="{{ location['url'] }}">Use tool online</a></li>
          {% elif location['type'] == 'service' %}
          <li class="list-inline-item"><a class="btn btn-sm btn-location" href="{{ location['url'] }}">Service endpoint</a></li>
          {% endif %}
        {% endfor %}
        {% if current_user.is_authenticated %}
        <li class="list-inline-item"><a class="btn btn-sm btn-outline-primary" href="{{ url_for('main.edit_version', table='c', number=record.doc_id, index=version['index']) }}">Edit version</a></li>
        {% endif %}
        </ul>
        {% endif %}
      </dd>
    {% endfor %}
    </dl>
  </div>
  {% endif %}
  {% if current_user.is_authenticated %}
  <aside>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="{{ url_for('main.edit_record', table='c', number=record.doc_id) }}" class="btn btn-outline-success">Edit this record</a></li>
      {% if versions %}
      <li class="list-inline-item"><a href="{{ url_for('main.edit_version', table='c', number=record.doc_id) }}" class="btn btn-outline-primary">Add another version</a></li>
      {% else %}
      <li class="list-inline-item"><a href="{{ url_for('main.edit_version', table='c', number=record.doc_id) }}" class="btn btn-outline-primary">Add version information</a></li>
      {% endif %}
    </ul>
  </aside>
  {% endif %}
{% endblock %}
