{% extends "base.html" %}
{% from "macros-forms.html" import state, errors with context %}
{% block title %}{% if doc_id == 0 %}Add new metadata scheme{% else %}Edit record msc:m{{ doc_id }}{% endif %}{% endblock %}
{% block main %}
  <form action="{{ url_for('main.edit_record', table='m', number=doc_id) }}" method="post"  accept-charset="utf-8" class="form-block">
    {{ form.hidden_tag() }}
    <fieldset>
    <div class="form-group{{ state(form.title) }}">
      {{ form.title.label(class="control-label") }}
      {{ form.title(placeholder="Name of scheme", class="form-control") }}
      {{ errors(form.title) }}
      <ul class="form-text text-muted">
        <li>If the scheme is known by an abbreviation, put this at the start of
          the name, then give the expanded form in parentheses, e.g. “SDMX
          (Statistical Data and Metadata Exchange)”.</li>
        <li>If the title is in English, use title case, i.e. give each
          significant word a capital letter. Do not use an irregular case to
          indicate how an abbreviation was defined, e.g. do not write
          “Statistical Data and Metadata eXchange”.</li>
      </ul>
    </div>
    <div class="form-group{{ state(form.description) }}">
      {{ form.description.label(class="control-label") }}
      {{ form.description(class="form-control") }}
      {{ errors(form.description) }}
      <ul class="form-text text-muted">
        <li>This could indicate if the scheme is used to create standalone metadata
          records, or insert metadata into data files, or is in fact a data format
          that includes metadata elements.</li>
        <li>This could indicate the intended use cases satisfied by the scheme, e.g.
          discovery, exchange.</li>
        <li>If many keywords are used to describe the disciplinary scope of the scheme,
          this could pick out the disciplines in which it is most popular.</li>
        <li>If the scheme is a profile, this could clarify whether it closely follows
          one parent scheme, or mixes together elements from a variety of parent
          schemes.</li>
        <li>This could indicate if the scheme is tied to a particular serialization
          (e.g. XML) or could be expressed in various ways (e.g. RDF).</li>
      </ul>
    </div>
    <div class="form-group">
      {{ form.keywords.label(class="control-label") }}
      <datalist id="keyword-list">
        {% for item in subjects %}
        <option>{{ item }}</option>
        {% endfor %}
      </datalist>
      <div>
      {% for f in form.keywords %}
      <span class="{{ state(f) }}">{{ f(list="keyword-list", class="form-control") }}</span>
      {{ errors(f) }}
      {% endfor %}
      </div>
      <ul class="form-text text-muted">
        <li>Use domains, micro-thesaurus names or concepts from the
          <a href="http://vocabularies.unesco.org/browser/thesaurus/en/" target="_blank">UNESCO Thesaurus</a>.</li>
      </ul>
    </div>
    <div class="form-group{{ state(form.dataTypes) }}">
      {{ form.dataTypes.label(class="control-label") }}
      {{ form.dataTypes(class="form-control") }}
      {{ errors(form.dataTypes) }}
      <ul class="form-text text-muted">
        <li>Provide types of data which this scheme is usually used to describe.</li>
        <li>You can add new types from the home page.</li>
      </ul>
    </div>
    </fieldset>
    <fieldset>
    <legend>{{ form.locations.label.text }}</legend>
    <div class="form-group">
      <ol class="form-list">
        {% for f in form.locations %}
        <li>
          <div class="form-subgroup{{ state(f.url) }}">
          {{ f.url.label(class="control-label") }}
          {{ f.url(placeholder="URL e.g. https://www...", class="form-control") }}
          {{ errors(f.url) }}
          </div>
          <div class="form-subgroup{{ state(f['type']) }}">
          {{ f['type'].label(class="control-label") }}
          {{ f['type'](class="form-control", style="width:auto;") }}
          {{ errors(f['type']) }}
          </div>
        </li>
        {% endfor %}
      </ol>
      <ul class="form-text text-muted">
        <li>To give several locations, save after adding each one.</li>
      </ul>
    </div>
    </fieldset>
    <fieldset>
    <legend>{{ form.identifiers.label.text }}</legend>
    <div class="form-group">
      <ol class="form-list">
      {% for f in form.identifiers %}
        <li>
          <div class="form-subgroup{{ state(f['id']) }}">
            {{ f['id'].label(class="control-label") }}
            {{ f['id'](placeholder="e.g. 10.001/1234", class="form-control") }}
            {{ errors(f['id']) }}
          </div>
          <div class="form-subgroup{{ state(f.scheme) }}">
            {{ f.scheme.label(class="control-label") }}
            {{ f.scheme(class="form-control", style="width:auto;") }}
            {{ errors(f.scheme) }}
          </div>
        </li>
      {% endfor %}
      </ol>
      <ul class="form-text text-muted">
        <li>Provide an identifier, if known, for the scheme across all versions.
          To identify individual versions, provide details under the version instead.</li>
        <li>Do not need repeat the internal Catalog identifier here.</li>
        <li>To give several identifiers, save after adding each one.</li>
      </ul>
    </div>
    </fieldset>
    <fieldset>
    <legend>Relationships to other records</legend>
    <div class="form-group{{ state(form.parent_schemes) }}">
      {{ form.parent_schemes.label(class="control-label") }}
      {{ form.parent_schemes(class="form-control") }}
      {{ errors(form.parent_schemes) }}
    </div>
    <div class="form-group{{ state(form.child_schemes) }}">
      {{ form.child_schemes.label(class="control-label") }}
      {{ form.child_schemes(class="form-control") }}
      {{ errors(form.child_schemes) }}
    </div>
    <div class="form-group{{ state(form.input_to_mappings) }}">
      {{ form.input_to_mappings.label(class="control-label") }}
      {{ form.input_to_mappings(class="form-control") }}
      {{ errors(form.input_to_mappings) }}
    </div>
    <div class="form-group{{ state(form.output_from_mappings) }}">
      {{ form.output_from_mappings.label(class="control-label") }}
      {{ form.output_from_mappings(class="form-control") }}
      {{ errors(form.output_from_mappings) }}
    </div>
    <div class="form-group{{ state(form.maintainers) }}">
      {{ form.maintainers.label(class="control-label") }}
      {{ form.maintainers(class="form-control") }}
      {{ errors(form.maintainers) }}
    </div>
    <div class="form-group{{ state(form.funders) }}">
      {{ form.funders.label(class="control-label") }}
      {{ form.funders(class="form-control") }}
      {{ errors(form.funders) }}
    </div>
    <div class="form-group{{ state(form.users) }}">
      {{ form.users.label(class="control-label") }}
      {{ form.users(class="form-control") }}
      {{ errors(form.users) }}
    </div>
    <div class="form-group{{ state(form.tools) }}">
      {{ form.tools.label(class="control-label") }}
      {{ form.tools(class="form-control") }}
      {{ errors(form.tools) }}
    </div>
    <div class="form-group{{ state(form.endorsements) }}">
      {{ form.endorsements.label(class="control-label") }}
      {{ form.endorsements(class="form-control") }}
      {{ errors(form.endorsements) }}
    </div>
    <p class="form-text text-muted">
      If the record you need isn't listed, save this one and create the other
      record: you will be able to add the relationship from the other record.
    </p>
    </fieldset>
    <div class="form-group">
      <button class="btn btn-success">Save changes</button>
      {% if doc_id == 0 %}
      <a href="{{ url_for('hello') }}" class="btn btn-outline-secondary">Cancel</a>
      {% else %}
      <a href="{{ url_for('main.display', table='m', number=doc_id) }}" class="btn btn-outline-secondary">Cancel &amp; view record</a>
      {% endif %}
    </div>
  </form>
{% endblock %}
