{% extends "base.html" %}
{% from "macros-forms.html" import state, errors with context %}
{% block title %}{% if doc_id == 0 %}Add new organization{% else %}Edit organization msc:g{{ doc_id }}{% endif %}{% endblock %}
{% block main %}
  <form action="{{ url_for('main.edit_record', table='g', number=doc_id) }}" method="post"  accept-charset="utf-8" class="form-block">
    {{ form.hidden_tag() }}
    <div class="form-group{{ state(form.name) }}">
      {{ form.name.label(class="control-label") }}
      {{ form.name(placeholder="Name of organization", class="form-control") }}
      {{ errors(form.name) }}
      <ul class="form-text text-muted">
        <li>The full name of the organization as it is usually given.</li>
      </ul>
    </div>
    <div class="form-group{{ state(form.description) }}">
      {{ form.description.label(class="control-label") }}
      {{ form.description(class="form-control") }}
      {{ errors(form.description) }}
      <ul class="form-text text-muted">
        <li>This should give the reader an impression of what the organization does
          and its role in the research environment.
        <li>This could describe the organization's interest in metadata or metadata
          standards.</li>
      </ul>
    </div>
    <div class="form-group{{ state(form.types) }}">
      {{ form.types.label(class="control-label") }}
      {{ form.types(class="form-control", style="width:auto;") }}
      {{ errors(form.types) }}
    </div>
    <fieldset>
    <legend>{{ form.locations.label.text }}</legend>
    <div class="form-group">
      <ol class="form-list">
      {% for f in form.locations %}
        <li>
          <div class="form-subgroup{{ state(f.url) }}">
          {{ f.url.label(class="control-label") }}
          {{ f.url(placeholder="URL e.g. https://www...", class="form-control") }}
          {{ errors(f.url) }}
          </div>
          <div class="form-subgroup{{ state(f['type']) }}">
          {{ f['type'].label(class="control-label") }}
          {{ f['type'](class="form-control", style="width:auto;") }}
          {{ errors(f['type']) }}
          </div>
        </li>
      {% endfor %}
      </ol>
      <ul class="form-text text-muted">
        <li>Preface email addresses with "mailto:".</li>
      </ul>
    </div>
    </fieldset>
    <fieldset>
    <legend>{{ form.identifiers.label.text }}</legend>
    <div class="form-group">
      <ol class="form-list">
      {% for f in form.identifiers %}
        <li>
          <div class="form-subgroup{{ state(f['id']) }}">
            {{ f['id'].label(class="control-label") }}
            {{ f['id'](placeholder="e.g. 10.001/1234", class="form-control") }}
            {{ errors(f['id']) }}
          </div>
          <div class="form-subgroup{{ state(f.scheme) }}">
            {{ f.scheme.label(class="control-label") }}
            {{ f.scheme(class="form-control", style="width:auto;") }}
            {{ errors(f.scheme) }}
          </div>
        </li>
      {% endfor %}
      </ol>
      <ul class="form-text text-muted">
        <li>Provide an identifier (e.g. FundRef DOI), if known, for this organization.</li>
        <li>You do not need to repeat the internal Catalog identifier here.</li>
      </ul>
    </div>
    </fieldset>
    <fieldset>
    <legend>Relationships to other records</legend>
    <div class="form-group{{ state(form.maintained_schemes) }}"">
      {{ form.maintained_schemes.label(class="control-label") }}
      {{ form.maintained_schemes(class="form-control") }}
      {{ errors(form.maintained_schemes) }}
    </div>
    <div class="form-group{{ state(form.maintained_tools) }}"">
      {{ form.maintained_tools.label(class="control-label") }}
      {{ form.maintained_tools(class="form-control") }}
      {{ errors(form.maintained_tools) }}
    </div>
    <div class="form-group{{ state(form.maintained_mappings) }}"">
      {{ form.maintained_mappings.label(class="control-label") }}
      {{ form.maintained_mappings(class="form-control") }}
      {{ errors(form.maintained_mappings) }}
    </div>
    <div class="form-group{{ state(form.funded_schemes) }}"">
      {{ form.funded_schemes.label(class="control-label") }}
      {{ form.funded_schemes(class="form-control") }}
      {{ errors(form.funded_schemes) }}
    </div>
    <div class="form-group{{ state(form.funded_tools) }}"">
      {{ form.funded_tools.label(class="control-label") }}
      {{ form.funded_tools(class="form-control") }}
      {{ errors(form.funded_tools) }}
    </div>
    <div class="form-group{{ state(form.funded_mappings) }}"">
      {{ form.funded_mappings.label(class="control-label") }}
      {{ form.funded_mappings(class="form-control") }}
      {{ errors(form.funded_mappings) }}
    </div>
    <div class="form-group{{ state(form.used_schemes) }}"">
      {{ form.used_schemes.label(class="control-label") }}
      {{ form.used_schemes(class="form-control") }}
      {{ errors(form.used_schemes) }}
    </div>
    <div class="form-group{{ state(form.endorsements) }}"">
      {{ form.endorsements.label(class="control-label") }}
      {{ form.endorsements(class="form-control") }}
      {{ errors(form.endorsements) }}
    </div>
    <p class="form-text text-muted">
      If the record you need isn't listed, save this one and create the other
      record: you will be able to add the relationship from the other record.
    </p>
    </fieldset>
    <div class="form-group">
      <button class="btn btn-success">Save changes</button>
      {% if doc_id == 0 %}
      <a href="{{ url_for('hello') }}" class="btn btn-outline-secondary">Cancel</a>
      {% else %}
      <a href="{{ url_for('main.display', table='g', number=doc_id) }}" class="btn btn-outline-secondary">Cancel &amp; view record</a>
      {% endif %}
    </div>
  </form>
{% endblock %}
