{% extends "base.html" %}
{% from "macros-forms.html" import state, errors %}
{% block title %}{% if doc_id == 0 %}Add new organization{% else %}Edit record msc:g{{ doc_id }}{% endif %}{% endblock %}
{% block main %}
  <form action="{{ url_for('edit_record', series='g', number=doc_id) }}" method="post"  accept-charset="utf-8" class="form-block">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.name.label(class="control-label") }}
      {{ form.name(placeholder="Name of organization", class="form-control") }}
      <ul class="help-block">
        <li>The full name of the organization as it is usually given.</li>
      </ul>
    </div>
    <div class="form-group">
      {{ form.description.label(class="control-label") }}
      {{ form.description(class="form-control") }}
      <ul class="help-block">
        <li>This should give the reader an impression of what the organization does
          and its role in the research environment.
        <li>This could describe the organization's interest in metadata or metadata
          standards.</li>
      </ul>
    </div>
    <div class="form-group">
      {{ form.types.label(class="control-label") }}
      {{ form.types(class="form-control", style="width:auto;") }}
    </div>
    <fieldset>
    <legend>{{ form.locations.label.text }}</legend>
    <div class="form-group">
      <ol class="form-list">
      {% for f in form.locations %}
        <li>
          <div class="{{ state(f.url) }}">
          {{ f.url.label(class="control-label") }}
          {{ f.url(placeholder="URL e.g. https://www...", class="form-control") }}
          {{ errors(f.url) }}
          </div>
          <div class="{{ state(f['type']) }}">
          {{ f['type'].label(class="control-label") }}
          {{ f['type'](class="form-control", style="width:auto;") }}
          {{ errors(f['type']) }}
          </div>
        </li>
      {% endfor %}
      </ol>
      <ul class="help-block">
        <li>To give several locations, save after adding each one.</li>
        <li>Preface email addresses with "mailto:".</li>
      </ul>
    </div>
    </fieldset>
    <fieldset>
    <legend>{{ form.identifiers.label.text }}</legend>
    <datalist id="id-schemes">
      {% for idScheme in idSchemes %}
      <option>{{ idScheme }}</option>
      {% endfor %}
    </datalist>
    <div class="form-group">
      <ol class="form-list">
      {% for f in form.identifiers %}
        <li>
        {{ f['id'].label(class="control-label") }}
        {{ f['id'](placeholder="e.g. 10.001/1234", class="form-control") }}
        {{ f.scheme.label(class="control-label") }}
        {{ f.scheme(class="form-control", list="id-schemes", style="width:auto;") }}
        </li>
      {% endfor %}
      </ol>
      <ul class="help-block">
        <li>Provide an identifier (e.g. FundRef DOI), if known, for this organization.</li>
        <li>You do not need to repeat the internal Catalog identifier here.</li>
        <li>To give several identifiers, save after adding each one.</li>
      </ul>
    </div>
    </fieldset>
    <div class="form-group">
      <button class="btn btn-primary">Save changes</button>
      <a href="{{ url_for('hello') }}" class="btn btn-default">Cancel</a>
    </div>
  </form>
{% endblock %}
