{% extends 'base.html' %}
{% from "macros-forms.html" import state, errors with context %}
{% block title %}Edit Profile{% endblock %}
{% block main %}
  <p>
    <strong>OpenID:</strong>
    {{ openid_formatted }}
  </p>
  <h2>Update profile</h2>
  <p>
    You can change the details associated with this profile.
  </p>
  <form action="{{ url_for('auth.edit_profile') }}" method="post" accept-charset="utf-8">
    {{ form.hidden_tag() }}
    <div class="mb-3 row{{ state(form.name) }}">
      {{ form.name.label(class="col-md-2 col-form-label text-md-end") }}
      <div class="col-md-10">
        {{ form.name(placeholder="Your full name", class="form-control") }}
        {{ errors(form.name) }}
      </div>
    </div>
    <div class="mb-3 row{{ state(form.email) }}">
      {{ form.email.label(class="col-md-2 col-form-label text-md-end") }}
      <div class="col-md-10">
        {{ form.email(placeholder="Valid email address", class="form-control") }}
        {{ errors(form.email) }}
      </div>
    </div>
    <div class="mb-3 row">
      <div class="offset-md-2 col-md-10">
        <button class="btn btn-primary">Update profile</button>
        <input type=hidden name=next value="{{ next }}">
      </div>
    </div>
  </form>
  <h2>Delete profile</h2>
  <p>
    If you no longer want your profile details stored for this OpenID, you can
    remove your profile with the following link. Please be aware that
  </p>
  <ul>
    <li>doing so will sign you out of the website;</li>
    <li>your details will <em>not</em> be removed from the version history of the database.</li>
  </ul>
  <p><a href="{{ url_for('auth.remove_profile') }}" class="btn btn-outline-primary">Delete profile</a></p>
{% endblock %}
