{% extends "base.html" %}
{% from "macros-forms.html" import state, errors with context %}
{% block title %}{% if index is none() %}Add new version{% else %}Edit {% if form.number.data %}version {{ form.number.data }}{% else %}unnumbered version{% endif %}{% endif %}{% endblock %}
{% block main %}
  <form action="{{ url_for('main.edit_version', table='m', number=doc_id, index=index) }}" method="post"  accept-charset="utf-8" class="form-block">
    {{ form.hidden_tag() }}
    <fieldset>
    <div class="form-group{{ state(form.number) }}">
      {{ form.number.label(class="form-label") }}
      {{ form.number(class="form-control w-auto mw-100") }}
      {{ errors(form.number) }}
      <ul class="form-text text-muted">
        <li>Do not preface the version number with "version" or "v".</li>
      </ul>
    </div>
    <div class="form-group">
      {{ form.title.label(class="form-label") }}
      {{ form.title(placeholder="Name of scheme", class="form-control") }}
      <ul class="form-text text-muted">
        <li>Only provide a title here if the version has a different title from
          the main scheme.</li>
        <li>If the scheme is known by an abbreviation, put this at the start of
          the name, then give the expanded form in parentheses, e.g. “SDMX
          (Statistical Data and Metadata Exchange)”.</li>
        <li>If the title is in English, use title case, i.e. give each
          significant word a capital letter. Do not use an irregular case to
          indicate how an abbreviation was defined, e.g. do not write
          “Statistical Data and Metadata eXchange”.</li>
      </ul>
    </div>
    <div class="form-group">
      {{ form.note.label(class="form-label") }}
      {{ form.note(class="form-control") }}
      <ul class="form-text text-muted">
        <li>If this version requires some explanation, give it here.</li>
      </ul>
    </div>
    <div class="form-group{{ state(form.issued) }}">
      {{ form.issued.label(class="form-label") }}
      {{ form.issued(class="form-control w-auto mw-100") }}
      {{ errors(form.issued) }}
      <ul class="form-text text-muted">
        <li>Give the date as yyyy, or yyyy-mm, or yyyy-mm-dd.</li>
        <li>In most cases, the only date you need to provide is "date published".</li>
      </ul>
    </div>
    <div class="form-group{{ state(form.available) }}">
      {{ form.available.label(class="form-label") }}
      {{ form.available(class="form-control w-auto mw-100") }}
      {{ errors(form.available) }}
      <ul class="form-text text-muted">
        <li>Give the date as yyyy, or yyyy-mm, or yyyy-mm-dd.</li>
        <li>If the version has not been released in its final version,
        please provide the date when the draft was first released. You do not need to
        remove this information when the final version is published.</li>
      </ul>
    </div>
    <div class="form-group">
      {{ form.valid.label(class="form-label") }}
      <div class="row">
        <div class="col-12 col-sm-6 col-md-auto">
          <div class="row{{ state(form.valid.start) }}">
            {{ form.valid.start.label(class="col-12 col-sm-3 col-md-auto col-form-label") }}
            <div class="col-12 col-xs-auto col-sm-9 col-md-auto">
              {{ form.valid.start(class="form-control", aria_label=form.valid.label.text+" "+form.valid.start.label.text) }}
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-auto">
          <div class="row{{ state(form.valid.end) }}">
            {{ form.valid.end.label(class="col-12 col-sm-3 col-md-auto col-form-label") }}
            <div class="col-12 col-xs-auto col-sm-9 col-md-auto">
              {{ form.valid.end(class="form-control", aria_label=form.valid.label.text+" "+form.valid.end.label.text) }}
            </div>
          </div>
        </div>
      </div>
      {{ errors(form.valid.start) }}
      {{ errors(form.valid.end) }}
      <ul class="form-text text-muted">
        <li>Give the date as yyyy, or yyyy-mm, or yyyy-mm-dd.</li>
        <li>Use "date considered current" only for cases where two or
          more versions are considered current at the same time.</li>
      </ul>
    </div>
    </fieldset>
    <fieldset>
    <legend>{{ form.locations.label.text }}</legend>
    <div class="form-group">
      <ol class="form-list">
        {% for f in form.locations %}
        <li>
          <div class="form-subgroup{{ state(f.url) }}">
          {{ f.url.label(class="form-label") }}
          {{ f.url(placeholder="URL e.g. https://www...", class="form-control") }}
          {{ errors(f.url) }}
          </div>
          <div class="form-subgroup{{ state(f['type']) }}">
          {{ f['type'].label(class="form-label") }}
          {{ f['type'](class="form-control w-auto mw-100") }}
          {{ errors(f['type']) }}
          </div>
        </li>
        {% endfor %}
      </ol>
      <ul class="form-text text-muted">
        <li>When providing several locations, if additional form fields do not appear automatically, save after adding each one.</li>
      </ul>
    </div>
    </fieldset>
    <fieldset>
    <legend>{{ form.samples.label.text }}</legend>
    <div class="form-group">
      <ol class="form-list">
      {% for f in form.samples %}
        <li>
          <div class="form-subgroup{{ state(f.title) }}">
          {{ f.title.label(class="form-label") }}
          {{ f.title(class="form-control") }}
          {{ errors(f.title) }}
          </div>
          <div class="form-subgroup{{ state(f.url) }}">
          {{ f.url.label(class="form-label") }}
          {{ f.url(placeholder="URL e.g. https://www...", class="form-control") }}
          {{ errors(f.url) }}
          </div>
        </li>
      {% endfor %}
      </ol>
      <ul class="form-text text-muted">
        <li>When providing several samples, if additional form fields do not appear automatically, save after adding each one.</li>
      </ul>
    </div>
    </fieldset>
    <fieldset>
    <legend>{{ form.namespaces.label.text }}</legend>
    <div class="form-group">
      <ol class="form-list">
        {% for f in form.namespaces %}
        <li>
          <div class="form-subgroup{{ state(f.prefix) }}">
          {{ f.prefix.label(class="form-label") }}
          {{ f.prefix(class="form-control w-auto mw-100") }}
          {{ errors(f.prefix) }}
          </div>
          <div class="form-subgroup{{ state(f.uri) }}">
          {{ f.uri.label(class="form-label") }}
          {{ f.uri(placeholder="URI e.g. https://www.../", class="form-control") }}
          {{ errors(f.uri) }}
          </div>
        </li>
        {% endfor %}
      </ol>
      <ul class="form-text text-muted">
        <li>When providing several namespaces, if additional form fields do not appear automatically, save after adding each one.</li>
        <li>Namespace URIs must begin with a protocol (e.g. https://) and end
          with a slash (/) or hash (#).</li>
      </ul>
    </div>
    </fieldset>
    <fieldset>
    <legend>{{ form.identifiers.label.text }}</legend>
    <div class="form-group">
      <ol class="form-list">
      {% for f in form.identifiers %}
        <li>
          <div class="form-subgroup{{ state(f['id']) }}">
            {{ f['id'].label(class="form-label") }}
            {{ f['id'](placeholder="e.g. 10.001/1234", class="form-control") }}
            {{ errors(f['id']) }}
          </div>
          <div class="form-subgroup{{ state(f.scheme) }}">
            {{ f.scheme.label(class="form-label") }}
            {{ f.scheme(class="form-control w-auto mw-100") }}
            {{ errors(f.scheme) }}
          </div>
        </li>
      {% endfor %}
      </ol>
      <ul class="form-text text-muted">
        <li>Provide an identifier, if known, for this particular version of the
          scheme.</li>
        <li>Don't repeat the internal Catalog identifier here.</li>
        <li>When providing several identifiers, if additional form fields do
          not appear automatically, save after adding each one.</li>
      </ul>
    </div>
    </fieldset>
    <ul class="list-inline">
      <li class="list-inline-item"><button class="btn btn-success">Save changes</button></li>
      <li class="list-inline-item"><a href="{{ url_for('main.display', table='m', number=doc_id) }}" class="btn btn-outline-secondary" tabindex="0">Cancel &amp; view record</a></li>
    </ul>
  </form>
{% endblock %}
