{% extends 'base.html' %}
{% from "macros-forms.html" import state, errors with context %}
{% block title %}Sign in{% endblock %}
{% block main %}
  <p>The Metadata Standards Catalog relies on community contributions like yours to stay up to date and comprehensive.</p>
  <p>In order to contribute changes to the Catalog, you must sign in.</p>
  {% if main_providers %}
  <ul class="list-inline d-flex justify-content-around align-content-center flex-wrap">
    {% for p in main_providers %}
    <li class="list-inline-item my-1"><a class="btn btn-outline-primary" href="{{ url_for('auth.oauth_authorize', provider=p['slug']) }}">{% if p['icon'] %}<span class="{{ p['icon'] }}"></span>&ensp;{% endif %}Sign in with {{ p['name'] }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if providers %}
  <p>You can {% if main_providers %}also {% endif %}sign in with one of these identity providers:</p>
  <ul class="list-inline d-flex justify-content-around align-content-center flex-wrap">
    {% for p in providers %}
    <li class="list-inline-item my-1"><a class="btn btn-outline-primary" href="{{ url_for('auth.oauth_authorize', provider=p['slug']) }}">{% if p['icon'] %}<span class="{{ p['icon'] }}"></span>&ensp;{% endif %}Sign in with {{ p['name'] }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if not (main_providers or providers) %}
  <p>This instance of the Catalog has not been registered with any identity providers, so you cannot sign in at the moment.
    Please contact the system administrator for assistance.</p>
  {% endif %}
{% endblock %}
