{% extends 'base.html' %}
{% from "macros-forms.html" import state, errors %}
{% block title %}Sign in{% endblock %}
{% block main %}
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p>Due to changes to the RDA website, it is no longer possible to sign in
    here with your Research Data Alliance account. We have contacted the RDA
    site administrators to see if this functionality might be restored.</p>
  </div>
  <p>In order to contribute changes to the Catalog, you must sign in.</p>
  {% if providers %}
  <p>You can sign in with one of these OpenID Connect providers:</p>
  <ul>
    {% for p in providers %}
    <li><a href="{{ url_for('oauth_authorize', provider=p['slug']) }}">Sign in with {{ p['name'] }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  {# Commented out pending restoration of service.
  <p>{% if providers %}Alternatively, you can{% else %}Please{% endif %} sign in through the Research Data Alliance website.
    To find the URL for your OpenID account, log in to the Research Data Alliance
    website and view your own profile. Take the URL of that page and add
    <code>/openid</code>.</p>
  #}
  <p>If you have an account with an{# other #} OpenID v2 provider, you can use that
    instead. Please consult your provider's documentation for the right URL to
    use; some known URL patterns are provided below.</p>
  <form action="{{ url_for('auth.login') }}" method=post class="form-inline">
    {{ form.hidden_tag() }}
    <div class="form-group form-group-wide {{ state(form.openid) }}">
      {{ form.openid.label(class="control-label") }}
      <div class="input-group">
        {{ form.openid(placeholder="URL for your OpenID account", class="form-control") }}
        <span class="input-group-btn">
          <button class="btn">Sign in</button>
        </span>
      </div>
      <input type="hidden" name="next" value="{{ next }}">
    </div>
    {{ errors(form.openid) }}
  </form>
  <table class="table table-striped" style="margin-top:16px;">
    {#
    <tr>
      <th>Research Data Alliance</th>
      <td><code>https://www.rd-alliance.org/users/</code>(username)<code>/openid</code></td>
    </tr>
    #}
    <tr>
      <th>AOL</th>
      <td><code>https://openid.aol.com/</code>(screenname)</td>
    </tr>
    <tr>
      <th>Launchpad/Ubuntu One</th>
      <td><code>https://launchpad.net/~</code>(username)</td>
    </tr>
    <tr>
      <th>LiveJournal</th>
      <td><code>https://</code>(username)<code>.livejournal.com/</code></td>
    </tr>
    <tr>
      <th>Steam</th>
      <td><code>https://steamcommunity.com/openid/id/</code>(64-character ID)</td>
    <tr>
      <th>WordPress</th>
      <td><code>https://</code>(blog)<code>.wordpress.com/</code></td>
    </tr>
  </table>
{% endblock %}
