{% extends 'base.html' %}
{% from "macros-forms.html" import state, errors with context %}
{% block title %}Sign in{% endblock %}
{% block main %}
  <p>In order to contribute changes to the Catalog, you must sign in.</p>
  {% if providers %}
  <p>You can sign in with one of these OpenID Connect providers:</p>
  <ul class="list-inline d-flex justify-content-around align-content-center flex-wrap">
    {% for p in providers %}
    <li class="list-inline-item my-1"><a class="btn btn-outline-primary" href="{{ url_for('auth.oauth_authorize', provider=p['slug']) }}">{% if p['icon'] %}<span class="{{ p['icon'] }}"></span>&ensp;{% endif %}Sign in with {{ p['name'] }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  <p>{% if providers %}Alternatively, you can{% else %}Please{% endif %} sign in through the Research Data Alliance website.
    To find the URL for your OpenID account, log in to the Research Data Alliance
    website and view your own profile. Take the URL of that page and add
    <code>/openid</code>.</p>
  <p>
    <form action="{{ url_for('auth.login') }}" method=post>
      {{ form.hidden_tag() }}
      <div class="row{{ state(form.openid) }}">
        {{ form.openid.label(class="col-md-3 text-md-end col-form-label") }}
        <div class="col-md-9">
          <div class="input-group">
            {{ form.openid(placeholder="https://...", class="form-control") }}
            <button class="btn btn-success" type="submit">Sign in</button>
          </div>
        </div>
        <input type="hidden" name="next" value="{{ next }}">
      </div>
      {{ errors(form.openid) }}
    </form>
  </p>
  <p>If you have an account with another OpenID v2 provider, you can use that
    instead. Please consult your provider's documentation for the right URL to
    use; some known URL patterns are provided below.</p>
  <dl class="dl-striped">
    <div class="row">
      <dt class="col-md-5 col-lg-4">Research Data Alliance</dt>
      <dd class="col-md-7 col-lg-8"><code>https://www.rd-alliance.org/users/</code>(username)<code>/openid</code></dd>
    </div>
    <div class="row">
      <dt class="col-md-5 col-lg-4">AOL</dt>
      <dd class="col-md-7 col-lg-8"><code>https://openid.aol.com/</code>(screenname)</dd>
    </div>
    <div class="row">
      <dt class="col-md-5 col-lg-4">Launchpad/Ubuntu One</dt>
      <dd class="col-md-7 col-lg-8"><code>https://launchpad.net/~</code>(username)</dd>
    </div>
    <div class="row">
      <dt class="col-md-5 col-lg-4">LiveJournal</dt>
      <dd class="col-md-7 col-lg-8"><code>https://</code>(username)<code>.livejournal.com/</code></dd>
    </div>
    <div class="row">
      <dt class="col-md-5 col-lg-4">Steam</dt>
      <dd class="col-md-7 col-lg-8"><code>https://steamcommunity.com/openid/id/</code>(64-character ID)</dd>
    </div>
    <div class="row">
      <dt class="col-md-5 col-lg-4">WordPress</dt>
      <dd class="col-md-7 col-lg-8"><code>https://</code>(blog)<code>.wordpress.com/</code></dd>
    </div>
  </dl>
{% endblock %}
