{% extends "base.html" %}
{% from "macros-forms.html" import state, errors with context %}
{% block title %}Search the Catalog{% endblock %}
{% block main %}
  <form action="{{ url_for('search.scheme_search') }}" method="post" accept-charset="utf-8" class="form-horizontal">
    <!--
    <fieldset>
      <p>
        <label><input type="radio" name="boolean" value="all"> All of these</label>
        &emsp;
        <label><input type="radio" name="boolean" value="any" checked> Any of these</label>
      </p>
    </fieldset>
    -->
    {{ form.hidden_tag() }}
    <p>Search for schemes that match any of the following criteria:</p>
    <div class="form-group row">
      {{ form.title.label(class="col-md-4 col-lg-3 col-form-label text-md-right") }}
      <div class="col-md-8 col-lg-9">
        <datalist id="titles">
          {% for item in titles %}
          <option>{{ item }}</option>
          {% endfor %}
        </datalist>
        {{ form.title(placeholder="Name of scheme", list="titles", class="form-control") }}
      </div>
    </div>
    <div class="form-group row">
      {{ form.keywords.label(class="col-md-4 col-lg-3 col-form-label text-md-right") }}
      <datalist id="keyword-list">
        {% for item in subjects %}
        <option>{{ item }}</option>
        {% endfor %}
      </datalist>
      <div class="col-md-8 col-lg-9">
        {% for f in form.keywords %}
        <div>
          <span class="{{ state(f) }}">{{ f(list="keyword-list", class="form-control form-control-narrow") }}</span>
          {{ errors(f) }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="form-group row">
      {{ form.identifier.label(class="col-md-4 col-lg-3 col-form-label text-md-right") }}
      <div class="col-md-8 col-lg-9">
        <datalist id="identifiers">
          {% for item in ids %}
          <option>{{ item }}</option>
          {% endfor %}
        </datalist>
        {{ form.identifier(placeholder="Identifier", list="identifiers", class="form-control") }}
      </div>
    </div>
    {% if funders %}
    <div class="form-group row">
      {{ form.funder.label(class="col-md-4 col-lg-3 col-form-label text-md-right") }}
      <div class="col-md-8 col-lg-9">
        <datalist id="funders">
          {% for item in funders %}
          <option>{{ item }}</option>
          {% endfor %}
        </datalist>
        {{ form.funder(placeholder="Funder name", list="funders", class="form-control") }}
      </label>
    </div>
    {% endif %}
    {% if dataTypes %}
    <div class="form-group row">
      {{ form.dataType.label(class="col-md-4 col-lg-3 col-form-label text-md-right") }}
      <div class="col-md-8 col-lg-9">
        <datalist id="dataTypes">
          {% for item in dataTypes %}
          <option>{{ item }}</option>
          {% endfor %}
        </datalist>
        {{ form.dataType(placeholder="Data type", list="dataTypes", class="form-control") }}
      </div>
    </div>
    {% endif %}
    <div class="form-group row">
      <div class="offset-md-4 offset-lg-3 col-md-8 col-lg-9">
        <button class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
{% endblock %}
