{% extends "base.html" %}
{% from "macros-forms.html" import state, errors %}
{% block title %}Search the Catalog{% endblock %}
{% block main %}
  <form action="{{ url_for('scheme_search') }}" method="post" accept-charset="utf-8" class="form-horizontal">
    <!--
    <fieldset>
      <p>
        <label><input type="radio" name="boolean" value="all"> All of these</label>
        &emsp;
        <label><input type="radio" name="boolean" value="any" checked> Any of these</label>
      </p>
    </fieldset>
    -->
    <p>Search for schemes that match any of the following criteria:</p>
    <div class="form-group">
      {{ form.title.label(class="col-sm-3 control-label") }}
      <div class="col-sm-9">
        {{ form.title(placeholder="Name of scheme", list="titles", class="form-control") }}
        <datalist id="titles">
          {% for item in titles %}
          <option>{{ item }}</option>
          {% endfor %}
        </datalist>
      </div>
    </div>
    <div class="form-group">
      {{ form.keywords.label(class="col-sm-3 control-label") }}
      <datalist id="keyword-list">
        {% for item in subjects %}
        <option>{{ item }}</option>
        {% endfor %}
      </datalist>
      <div class="col-sm-9">
        {% for f in form.keywords %}
        <span class="{{ state(f) }}">{{ f(list="keyword-list", class="form-control form-control-narrow") }}</span>
        {% endfor %}
      </div>
      {% for f in form.keywords %}
      {{ errors(f) }}
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.identifier.label(class="col-sm-3 control-label") }}
      <div class="col-sm-9">
        {{ form.identifier(placeholder="Identifier", list="identifiers", class="form-control") }}
        <datalist id="identifiers">
          {% for item in ids %}
          <option>{{ item }}</option>
          {% endfor %}
        </datalist>
      </div>
    </div>
    {% if funders %}
    <div class="form-group">
      {{ form.funder.label(class="col-sm-3 control-label") }}
      <div class="col-sm-9">
        {{ form.funder(placeholder="Funder name", list="funders", class="form- control") }}
        <datalist id="funders">
          {% for item in funders %}
          <option>{{ item }}</option>
          {% endfor %}
        </datalist>
      </label>
    </div>
    {% endif %}
    {% if dataTypes %}
    <div class="form-group">
      {{ form.dataType.label(class="col-sm-3 control-label") }}
      <div class="col-sm-9">
        {{ form.dataType(placeholder="Data type", list="dataTypes", class="form-control") }}
        <datalist id="dataTypes">
          {% for item in dataTypes %}
          <option>{{ item }}</option>
          {% endfor %}
        </datalist>
      </div>
    </div>
    {% endif %}
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
{% endblock %}
