{% extends "base.html" %}
{% block title %}Terms of use{% endblock %}
{% block main %}
  <h2 id="introduction">The RDA Metadata Standards Catalog</h2>
  <p>The RDA Metadata Standards Catalog ('the Catalog', 'the system') is a resource developed by members of the Research Data Alliance for the international academic community. It is maintained by volunteers ('the editors') under the oversight of the <a href="https://www.rd-alliance.org/groups/metadata-standards-catalog-working-group.html">RDA Metadata Standards Catalog Working Group</a>. System administration is performed by the University of Bath, which hosts the service.</p>
  <p>The aim of the Catalog is to provide researchers, research support staff and developers with access to accurate information about metadata standards, in order inform and enable their use of those standards.</p>
  <p>You do not have to create an account on the system in order to search, browse through, read or use the records it contains. You only need to register an account with the system in order to make contributions.</p>
  <h2 id="ipr">Intellectual property rights</h2>
  <p>Any contributions you make to the Catalog will be visible publicly, and made available to the community under a <a href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons Zero 1.0 Universal Public Domain Dedication</a>.</p>
  <h2 id="privacy">Privacy policy</h2>
  <p>In order to help identify and administer your account with the system, and identify contributions you make to the Catalog, we need to store your name and email address. We may also use these details to contact you to discuss your contributions, or to inform you of upcoming changes. We will not sell, rent or trade any personal information you provide to us.</p>
  <p>The personal account information you enter into this system will be stored in a user database and will appear in the version control logs for the Catalog. The user database and logs will be available to the editors and system administrators, solely for the purposes of maintaining the system, and will not be shared publicly, though anonymized log data and statistics may be shared. You may view and change the personal information held in your account at any time, but these changes will not be applied retroactively in the version control logs.</p>
  <h2 id="passwords">Passwords</h2>
  <p>Authentication is handled by third party services. The Catalog only holds password hashes for API accounts.</p>
  <h2 id="acceptable-use">Acceptable use</h2>
  <p>The editors reserve the right to revert or adjust the contributions you make to the Catalog. If you make contributions that the editors deem offensive, defamatory, or in contravention of the laws of the United States of America, the European Union and its Member States, or Australia, your account may be immediately and permanently blocked. Your account may also be blocked if you persistently make contributions detrimental to the aim and operation of the system. You have the right of appeal; the appeal will be heard by the co-chairs of the Metadata Standards Catalog Working Group and their decision is final.</p>
  <h2 id="cookies">Cookies</h2>
  <p>Please note that the system uses Cookies to handle session information. These Cookies are stored on your system only while you are logged into the Catalog.</p>
  <h2 id="applicability">Applicability</h2>
  <p>Use of the system indicates that you understand and agree to these terms and conditions.</p>
{% endblock %}
